<body class="antialiased">

    <main class="max-w-3xl mx-auto px-6 py-12 prose prose-invert prose-pre:bg-transparent">

        <header class="text-center not-prose mb-12">
            <h1 class="text-4xl font-bold mb-2">TITLE</h1>
            <p class="text-gray-400">DATE</p>
        </header>

        CONTENT
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-python.min.js"></script>
</body>

</html>